Abstract[[:space:]]-[[:space:]]A[[:space:]]Proposal[[:space:]]for[[:space:]]an[[:space:]]active[[:space:]]In-Vehicle[[:space:]]System[[:space:]]that[[:space:]]inhibits[[:space:]]Vehicle[[:space:]]Ramming[[:space:]]Attacks.pdf filter=lfs diff=lfs merge=lfs -text
